.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #7EA439;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 999;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: rgb(4, 19, 107);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
    z-index: 999;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: rgb(4, 19, 107);
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0;
  }